html, body{
  height: 100%;
}

#header{
  background-color: black;
  height: 150px;
  #titleOfSite{
    color:white;
    position: relative;
    top:40px;
  }
}

#islandHeader{
  margin-top: 30px;
}
#footer{
  height: 390px;
  background-color: black;
}

.row.islandRow{
  margin: 0px;
}

body{
  background-color: steelblue;
}

.islands{
  margin-top: 30px;
  margin-bottom: 30px;
}