@import "compass/reset";

.header{
  background-color: black;
  height: 200px;
}
#headerText{
  color: white;
}
.mapHawaii{
  height: 500px;
  padding-bottom: 80px;
  svg{
    top: 30px;
    position: relative;
  }
}

.footer{
  background-color: red;
  height: 80px;
}
